body {
    background-image: url("img/jhonnie-bg.jpg");
    background-attachment: scroll;
    background-position: center center;
    background-position-x: center;
    background-position-y: center;
    background-size: auto 100%;
    
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    
    background-attachment: fixed;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 100%;
    height: 100%;
    text-transform: uppercase;
}
header{
    height: 900px;
    width: 1800px;
}
#sec1{
    background-image: url("img/cedric-bg.jpg");
    background-attachment: scroll;
    background-position: center center;
    background-position-x: center;
    background-position-y: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    height: 900px;
    width: 100%;
    color: silver;
}
#sec2{
    background-image: url("img/101.jpg");
    background-attachment: scroll;
    background-position: center center;
    background-position-x: center;
    background-position-y: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    height: 900px;
    width: 100%;
    color: silver;
}
h1{
    color: silver;
}